<div class="container xl:max-w-screen-xl mx-auto border-t-2 border-slate-600">
  <section id="contact" class="mt-6 lg:mt-12 pb-16 mx-6 text-white md:flex md:justify-between relative">
    <div class="sect relative md:w-1/2">
      <h3 class="pb-6 md:text-center">
        <fa-icon class="mr-5" style="color: rgb(206, 1, 1);" [icon]="faLocationArrow"></fa-icon>Location
      </h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d957.6226746542578!2d103.2509222254157!3d16.246602288855946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3122a39a57f8a653%3A0x42a8bca848ab31a5!2z4LiE4LiT4Liw4Lin4Li04LiX4Lii4Liy4LiB4Liy4Lij4Liq4Liy4Lij4Liq4LiZ4LmA4LiX4LioIOC4oeC4q-C4suC4p-C4tOC4l-C4ouC4suC4peC4seC4ouC4oeC4q-C4suC4quC4suC4o-C4hOC4suC4oQ!5e0!3m2!1sth!2sth!4v1679002049374!5m2!1sth!2sth"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <!-- <img
        class="max-sm:w-10/12 aspect-auto mx-auto rounded-[3em]"
        src="https://assets.nicepagecdn.com/4cf846a1/4346997/images/Screenshot2023-03-16060009.png"
        alt=""
      /> -->
    </div>
    <div class="sect relative max-md:pt-6 md:w-1/2 md:pt-2">
      <h3 class="pb-6 md:text-center">Contact / ติดต่อเรา</h3>
      <div class="desc flex flex-col">
        <div class="md:mx-auto relative">
          <div class="flex items-center gap-2 p-2">
            <mat-icon>phone</mat-icon> +66 64-528-9101 คุณเพียว
          </div>
          <div class="flex items-center gap-2 p-2">
            <mat-icon>phone</mat-icon> +66 64-528-9101 คุณฟลุ๊ค
          </div>
          <div class="w-full h-[2px] my-3 relative flex justify-center">
            <span class="block bg-slate-400 w-full h-full"></span>
          </div>
        </div>
        <div class="md:mx-auto relative">
          <div class="flex items-center gap-2 p-2">
            <mat-icon>email</mat-icon>steak.pluto@gmail.com
          </div>
        </div>
      </div>
      <div class="flex md:justify-center py-10">
        <button class="fb-btn aspect-square"> <a href="https://www.facebook.com/CSMSUFAMILY"> <mat-icon
              class="aspect-square text-[5em] text-blue-400" style="width: 1em; height: 1em">facebook</mat-icon></a>
        </button>
      </div>
    </div>
  </section>
</div>
