<div class="navbar fixed w-full h-14 bg-main_2_bg/90 backdrop-blur-md z-50">
  <!-- <button title="list" mat-raised-button (click)="(onClick)">
    <fa-icon [icon]="faBars"></fa-icon>
  </button> -->
  <div class="container xl:max-w-screen-xl mx-auto h-full flex justify-end items-center">
    <div class="pr-2 flex gap-2 text-white">
      <button mat-icon-button mat-button [matMenuTriggerFor]="menu" aria-label="list menu" class="w-10 h-10">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="" fragment="main">Home</button>
        <button mat-menu-item routerLink="" fragment="special">Specials</button>
        <button mat-menu-item routerLink="/menu">Menu</button>
        <button mat-menu-item routerLink="" fragment="contact">Contact</button>
      </mat-menu>
      <button mat-icon-button aria-label="user" class="w-10 h-10" routerLink="/login">
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
    </div>
  </div>

</div>
