<div class="navbar fixed w-full h-14 bg-main_2_bg/90 backdrop-blur-md z-50">
  <!-- <button title="list" mat-raised-button (click)="(onClick)">
    <fa-icon [icon]="faBars"></fa-icon>
  </button> -->
  <div
    class="container xl:max-w-screen-xl mx-auto h-full flex justify-end items-center"
  >
    <div class="pr-2 flex gap-2 text-white">
      <div class="hidden sm:block">
        <button
          mat-button
          aria-label="home"
          class="duration-75 font-bold px-2 hover:bg-white/20 hover:border-b-2 rounded-md border-header hidden sm:block"
          routerLink=""
          fragment="main"
        >
          Home
        </button>
        <button
          mat-button
          aria-label="special"
          class="duration-75 font-bold px-2 hover:bg-white/20 hover:border-b-2 rounded-md border-header hidden sm:block"
          routerLink=""
          fragment="special"
        >
          Specials
        </button>
        <button
          mat-button
          aria-label="menu"
          class="duration-75 font-bold px-2 hover:bg-white/20 hover:border-b-2 rounded-md border-header hidden sm:block"
          routerLink="/menu"
        >
          Menu
        </button>
        <!-- ------------ -->
        <button
          mat-button
          aria-label="cart"
          class="duration-75 font-bold px-2 hover:bg-white/20 hover:border-b-2 rounded-md border-header hidden sm:block"
          routerLink="/cart"
        >
          Cart
        </button>
        <!-- ------------ -->
        <button
          mat-button
          aria-label="contact"
          class="duration-75 font-bold px-2 hover:bg-white/20 hover:border-b-2 rounded-md border-header hidden sm:block"
          routerLink=""
          fragment="contact"
        >
          Contact
        </button>
      </div>
      <div class="block sm:hidden">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          aria-label="list menu"
          class="w-10 h-10 sm:hidden"
        >
          <fa-icon [icon]="faBars"></fa-icon>
        </button>
      </div>
      <div *ngIf="checkAuth(); else nologin">
        <button
          mat-icon-button
          [matMenuTriggerFor]="profile"
          aria-label="user"
          class="w-10 h-10"
        >
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
      </div>
      <ng-template #nologin>
        <button
          mat-icon-button
          aria-label="user"
          class="w-10 h-10"
          routerLink="/login"
        >
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
      </ng-template>
    </div>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="" fragment="main">Home</button>
  <button mat-menu-item routerLink="" fragment="special">Specials</button>
  <button mat-menu-item routerLink="/menu">Menu</button>
  <button mat-menu-item routerLink="/cart">Cart</button>
  <button mat-menu-item routerLink="" fragment="contact">Contact</button>
</mat-menu>

<mat-menu #profile="matMenu">
  <button mat-menu-item routerLink="/profile">{{ getUser() }}</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
