<body>
  <div class="form container">
    <h6><strong>LOGIN</strong></h6>
    <input
      class="text-box"
      type="text"
      placeholder="ชื่อผู้ใช้(Username)"
      name="username"
      [(ngModel)]="username"
      require
    />
    <input
      class="text-box"
      type="password"
      placeholder="รหัสผ่าน(Password)"
      name="password"
      [(ngModel)]="password"
      require
    />
    <button class="btn-submit" (click)="checkLogin()">Login</button>
    <p class="message">
      Not registered? <a routerLink="/register">Create an account</a>
    </p>
  </div>
</body>
