<body>
  <form class="container">
      <h6><strong>LOGIN</strong> </h6>
      <input class="text-box" type="text" placeholder="ชื่อผู้ใช้(Username)" name="username"require [(ngModel)]="usr.username">
      <input class="text-box" type="password" placeholder="รหัสผ่าน(Password)" name="password" require [(ngModel)]="usr.password">
      <input class="text-box" type="text" placeholder="เบอร์โทร(phone)" name="phone" require [(ngModel)]="usr.phone">
      <input class="text-box" type="text" placeholder="ชื่อ(Firstname)" name="firstname"require [(ngModel)]="usr.firstname">
      <input class="text-box" type="text" placeholder="นามสกุล(Lastname)" name="lastname"require [(ngModel)]="usr.lastname">
      <button class="btn-submit" (click)="submit()">register</button>
      <p class="message">Already registered? <a href="/login">Login</a></p>
  </form>
</body>
