<body>
  <form class="container">
      <h6><strong>LOGIN</strong> </h6>
      <input class="text-box" type="text" placeholder="ชื่อผู้ใช้(Username)" name="username"require>
      <input class="text-box" type="password" placeholder="รหัสผ่าน(Password)" name="password" require>
      <input class="text-box" type="text" placeholder="เบอร์โทร(phone)" name="phone" require>
      <input class="text-box" type="text" placeholder="ชื่อ(Firstname)" name="firstname"require>
      <input class="text-box" type="text" placeholder="นามสกุล(Lastname)" name="lastname"require>
      <button class="btn-submit" type="submit">register</button>
      <p class="message">Already registered? <a href="/login">Login</a></p>
  </form>
</body>
