<section id="main" class="flex items-center bg-cover bg-center">
  <div class="container mx-auto">
    <div
      class="title text-white font-medium text-center w-full lg:pl-36 lg:text-left"
    >
      <h1>PLUTO</h1>
      <h3>Steaks & Drinks</h3>
      <h1>Restaurant</h1>
    </div>
  </div>
</section>
<div class="container xl:max-w-screen-xl mx-auto">
  <section id="hightlight" class="my-16">
    <div
      class="list w-full flex max-sm:flex-col justify-center items-center gap-10"
    >
      <div
        class="hl-btn relative w-full aspect-square w-[300px] md:w-[450px] rounded-[3em] aspect-square overflow-hidden"
      >
        <img
          class="absolute w-full h-full object-cover"
          src="https://assets.nicepagecdn.com/4cf846a1/4346997/images/c18c6f4b6f0c72673ce5b4e4200fd3cdb60b3a92608ae490445883fb939af1816377fc2dadcd8757c72875790d7b155192ff452de36f353005f981_1280.jpg"
          alt=""
        />
        <div
          class="text relative w-full h-full flex items-center justify-center text-white font-bold italic"
        >
          Restaurant ​Ambience
        </div>
      </div>
      <div
        class="hl-btn relative w-full aspect-square w-[300px] md:w-[450px] rounded-[3em] aspect-square overflow-hidden"
      >
        <img
          class="absolute w-full h-full object-cover"
          src="https://wallpaperaccess.com/full/1401021.jpg"
          alt=""
        />
        <div
          class="text relative w-full h-full flex items-center justify-center text-white font-bold italic"
        >
          Foods
        </div>
      </div>
    </div>
  </section>
  <div class="w-full h-[2px] relative flex justify-center">
    <span class="block bg-slate-400 w-8/12 h-full"></span>
  </div>
  <section id="special" class="mt-6 lg:mt-12 mb-16 text-white">
    <h3 class="text-center mb-10">Special Menu</h3>

    <div class="foodcard mx-6 sm:flex sm:gap-6">
      <div class="text mb-6">
        <h3 class="mb-5">T-Bone Steak</h3>
        <h3 class="mb-5">270 บาท</h3>
        <p>
          โบน (T-Bone) คือเนื้อสันที่ตัดมาจากส่วนเอวของวัว
          มีชื่อเรียกอีกชื่อว่าช็อตลอยน์ (Short Loin)
          จะตัดมาพร้อมกับกระดูกที่เป็นรูปตัว T คั่นระหว่างเนื้อส่วนสันนอก
          (Striploin) และเนื้อส่วนสันใน (Tenderloin)
          จะให้เนื้อสัมผัสและรสชาติที่แตกต่างกันทั้งสองฝั่ง
          โดยฝั่งสันนอกจะได้ความหอมจากไขมันด้านมัน รสชาติเนื้อที่เข้มข้น
          ส่วนฝั่งของเนื้อสันใน จะให้ความนุ่ม ชุ่มฉ่ำแบบไร้ที่ติ
          เรียกได้ว่าในหนึ่งชิ้นมีครบทุกอย่างจริงๆ
        </p>
      </div>
      <img
        class="rounded-[3em] object-cover aspect-square sm:w-7/12 sm:max-w-[450px]"
        src="https://assets.nicepagecdn.com/4cf846a1/4346997/images/maxresdefault.jpg"
        alt=""
      />
    </div>
  </section>
</div>
