<div class="mt-4" style="overflow: hidden;">
  <div class="row justify-content-center gutter-40">
    <div class="col-lg-6 col-12 mb-4 mb-lg-0">
      <div class="fxLayout fadeText"  style="margin-bottom: 30px; align-items: center; cursor: pointer;">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span style="text-decoration: none; color: black;">กลับไปสั่งอาหารเพิ่ม</span>
      </div>
      <div class="container rounded-top" style="background-color: white; border: 1px solid gainsboro; ">
        <div class="row" >
            <div class="col-md py-3 fxLayout" style=" justify-content: start; align-items: center; ">
                <mat-icon style="color: darkgreen;">check_circle</mat-icon>
                <span class="mx-2">ตรวจสอบรายการอาหาร</span>
            </div>
        </div>
      </div>

      <!-- ไม่พบสินค้า -->
      <!-- <div class="container rounded-bottom mb-3" style="background-color: white; border: 1px solid gainsboro;" *ngIf="this.items.length == 0; else Item">
        <div class="row">
            <div class="col-md-12 py-3 fxLayout " style="flex-direction: column; justify-content: center; align-items: center;">
                <div class="mt-3 mb-3"><span>ไม่พบสินค้าในตะกร้า</span></div>
                <div class="mb-3"><button mat-raised-button style="background-color:#045762; color: white; font-family: 'Noto Sans Thai', sans-serif;">กลับไปสั่งอาหารเพิ่ม</button></div>
            </div>
        </div>
      </div> -->


      <!-- พบสินค้า -->
        <div class="container rounded-bottom mb-3" style="background-color: white; border: 1px solid gainsboro; " >
          <div class="row mx-5" >
              <div class="col-md-6 py-3 fxLayout " style="justify-content: start; align-items: center;">
                  <div><span>รายการอาหารทั้งหมด</span></div>
              </div>
              <div class="col-md-6 py-3 d-none d-md-block" style="align-items: center;">
                <div class="fxLayout" style="justify-content: end; align-items: center;">
                  <span>ราคา</span>
                </div>
            </div>
            <hr>
          </div>
          <div class="listFood">
            <div  class="fxLayout mx-5" style="justify-content: end; align-items: center;">
              <button  mat-icon-button ><mat-icon style="color: #045762;">cancel_presentation</mat-icon></button>
            </div>
            <div class="row mx-5 mb-2">
              <div class="col-md-3 fxLayout" style="justify-content: start; align-items: center;">
                <div><img style="width: 50%;  " src="https://s359.thaibuffer.com/rq/580/435/50/pagebuilder/2fd83831-fb5b-4317-85c8-8cef0f756423.jpg"></div>
              </div>
            <!-- <div>
              <button mat-icon-button><mat-icon style="color: #045762;"> cancel_presentation</mat-icon></button>
            </div> -->
              <div class="col-md-9 fxLayout" style="justify-content: space-between;  align-items: start; ">
                <div>
                  <span>name food</span>
                  <div  class="mt-3">
                    <button class="rounded-5 btnOrder ">-</button>
                    <span class="mx-3 fs-5">1</span>
                    <button class="rounded-5 btnOrder">+</button>
                  </div>
                </div>
                <span>฿11</span>
              </div>
            </div>
          </div>
          <div class="row mx-5 mb-4">
            <hr>
            <div class="col-md-12 fxLayout" style="justify-content: space-between;  align-items: start; margin-top: 15px;">
              <span>ราคารวมอาหารทั้งหมด</span>
              <span>฿11</span>
            </div>
          </div>
        </div>
        <div class="container fxLayout mb-3" style="justify-content: end;">
          <button mat-raised-button style="background-color:  #045762; color: white; font-family: 'Noto Sans Thai', sans-serif;" >
            ต่อไป
          </button>
        </div>
      </div>
  </div>
</div>

