<div class="container xl:max-w-screen-xl mx-auto py-16 text-white px-6 sm:px-0">
  <div class="flex items-center pt-10">
    <mat-icon style="color: darkgreen">check_circle</mat-icon>
    <span class="mx-2">ตรวจสอบรายการอาหาร</span>
  </div>
  <div class="mt-10 flex gap-5 flex-col">
    <div class="w-full relative" *ngFor="let cart_i of serv.cartData.cart">
      <div class="foodcat p-6 w-full rounded-3xl bg-white/20 flex gap-5">
        <img
          src="{{ cart_i.img }}"
          class="aspect-auto h-36 object-cover bg-gray-400 rounded-lg"
          alt=""
        />
        <div class="detai flex justify-between w-full">
          <div class="left relative">
            <h4 class="text-2xl pb-6">{{ cart_i.name }}</h4>
            <p>ราคาต่อชิ้น : ${{ cart_i.price }}</p>

            <div class="absolute bottom-0">
              <button
                mat-button
                aria-label="remove"
                (click)="deleteOrder(cart_i.fid)"
                class="duration-75 font-bold px-2 bg-red-500 hover:bg-red-800 hover:border-b-2 rounded-md border-red-400 hidden sm:block"
              >
                ลบสินค้าจากตะกร้า
              </button>
            </div>
          </div>
          <div class="right relative text-right">
            <div class="relative pb-8">
              <!-- <p class="absolute -top-3">Price</p> -->
              <h3>${{ cart_i.price * cart_i.amount }}</h3>
            </div>
            <div class="absolute bottom-0 right-0 text-center w-24">
              <p class="absolute -top-7 w-full">Quantity</p>
              <h4>{{ cart_i.amount }}</h4>

              <div class="grid w-full h-7 grid-cols-2 gap-3">
                <button
                  aria-label="add"
                  (click)="incOrder(cart_i.fid)"
                  class="rounded-md hover:bg-slate-500 hover:text-white text-green-600 bg-white"
                >
                  <fa-icon [icon]="faPlus"></fa-icon>
                </button>
                <button
                  aria-label="rem"
                  (click)="decOrder(cart_i.fid)"
                  class="rounded-md hover:bg-slate-500 hover:text-white text-red-600 bg-white"
                >
                  <fa-icon [icon]="faMinus"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
